
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
height: 100vh;
}

.carousel-item:nth-child(1) {
background-image: url('../images/consult.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.carousel-item:nth-child(2) {
background-image: url('../images/header.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.carousel-item:nth-child(3) {
background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.navbar .nav-link {
color: rgba(255,255,255,0.9);
}

.navbar .nav-link:hover {
    color: #fff;
}
.navbar.scrolled .nav-link {
    color: #000;
}

.navbar.scrolled {
background-color: #fff;
transition: 0.6 ease;
}

/* toggle button  */
nav button i {
    color: #fff;
}

.navbar.scrolled button i {
    color: #000;
}

.carousel-item a {
    color: #fff;
    background-color: #ff6600;
    outline: none;
}

.carousel-item a:hover {
    /* color: #fff; */
    background-color: none;
    border: 2px solid #fff;
}

.orange {
    color: #ff6600;
}

/* fade in code  */
.fade-in-section {
    opacity: 0;
    transform: translateY(70px); /* Move section down by 50px */
    transition: opacity 0.7s ease-out, transform 0.5s ease-out;
  }
  
  .fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
  
footer {
    background: url("../images/Burning.png") no-repeat center center fixed;
    background-size: cover;
}
